body {
  background-color: rgb(91, 88, 88);
}
main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3em;
}

.post-it {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  color: black;
  margin-right: 60px;
  margin-bottom: 70px;
  margin-top: 30px;
  display: inline-block;
  align-self: stretch;
  box-shadow: 3px 3px 3px rgb(52, 43, 43);
  animation: post-it 1.5s;
}

.one {
  transform: rotate(20deg);
  background-color: aqua;
}
.two {
  transform: rotate(30deg);
  background-color: yellow;
}
.three {
  transform: rotate(60deg);
  background-color: orange;
}
.four {
  transform: rotate(80deg);
  background-color: blue;
}
.five {
  transform: rotate(15deg);
  background-color: firebrick;
}
.six {
  transform: rotate(-20deg);
  background-color: forestgreen;
}
.seven {
  transform: rotate(5deg);
  background-color: coral;
}
.eight {
  transform: rotate(-20deg);
  background-color: slateblue;
}

.post-it strong {
  font-size: 2em;
  font-weight: 800;
  padding-bottom: 30px;
}
.post-it p {
  font-size: 1.5em;
  padding: 1.5em;
}

.post-it:hover {
  transform: scale(1.3) rotate(0deg);
  box-shadow: 10px 10px 10px #000;
  cursor: pointer;
  transition: transform 1.5s;
}


@keyframes post-it {
    0%{
        transform: scale(10);
        opacity: 0;
    }
    50%{
        transform: scale(10);
        opacity: 0;
    }
    55%{
        transform: scale(1.5);
        opacity: 1;
    }
    75%{
        transform: scale(0.8);
        opacity: 1 ;
    }
    80%{
        transform: scale(1);
        opacity: 1;
    }



}




